<?xml version="1.0"?>
<config>
	<modules>
		<Sendmachine_Sendmachine>
			<version>1.0.1</version>
		</Sendmachine_Sendmachine>
	</modules>
	<global>
		<helpers>
			<sendmachine>
				<class>Sendmachine_Sendmachine_Helper</class>
			</sendmachine>
		</helpers>
		<blocks>
			<sendmachine>
				<class>Sendmachine_Sendmachine_Block</class>
			</sendmachine>
		</blocks>
		<events>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<sendmachine>
						<class>Sendmachine_Sendmachine_Model_Observer</class>
						<method>handleSubscriber</method>
					</sendmachine>
				</observers>
			</newsletter_subscriber_save_commit_after>
		</events>
		<models>
			<core>
				<rewrite>
					<email_template>Sendmachine_Sendmachine_Model_Email_Template</email_template>
				</rewrite>
				<rewrite>
					<email_queue>Sendmachine_Sendmachine_Model_Email_Queue</email_queue>
				</rewrite>
			</core>
			<sendmachine>
				<class>Sendmachine_Sendmachine_Model</class>
				<resourceModel>sendmachine_mysql4</resourceModel>
			</sendmachine>
			<sendmachine_mysql4>
				<class>Sendmachine_Sendmachine_Model_Mysql4</class>
				<entities>
					<importexportlog>
						<table>sm_import_export_log</table>
					</importexportlog>
				</entities>
			</sendmachine_mysql4>
		</models>
		<resources>
			<sendmachine_setup>
				<setup>
					<module>Sendmachine_Sendmachine</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sendmachine_setup>
			<sendmachine_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sendmachine_write>
			<sendmachine_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sendmachine_read>
		</resources>
		<template>
			<email>
				<smSendTestEmail translate="label" module="sendmachine">
					<label>Sendmachine Test Email</label>
					<file>sendmachine/sm_send_test_email.html</file>
					<type>html</type>
				</smSendTestEmail>
			</email>
		</template>
	</global>
	<crontab>
		<jobs>
			<sendmachine>
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sendmachine/sendmachine::executeCronjob</model>
				</run>
			</sendmachine>
		</jobs>
	</crontab>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<sendmachine before="Mage_Adminhtml">Sendmachine_Sendmachine</sendmachine>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<sendmachine>
					<file>sendmachine.xml</file>
				</sendmachine>
			</updates>
		</layout>
		<routers>
			<sendmachine>
				<use>standard</use>
				<args>
					<module>Sendmachine_Sendmachine</module>
					<frontName>sendmachine</frontName>
				</args>
			</sendmachine>
		</routers>   
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<sendmachine>
					<files>
						<default>Sendmachine_Sendmachine.csv</default>
					</files>
				</sendmachine>
			</modules>
		</translate>
	</adminhtml>
</config>